.cards__container {
    padding: 0 80px;
}

.cards {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding: 0 0 40px;
    gap: 20px;
    border-bottom: 1px solid #21212166;
    margin-top: 20px;
}

.card {
    max-width: 413px;
    max-height: 445px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
}

.card__description {
    max-width: 350px;
    margin: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    align-self: flex-start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__like-icon {
    width: 23px;
    height: 20px;
}

@media screen and (max-width: 1320px) and (min-width: 926px) {
    .cards {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        justify-self: center;
    }
}

@media screen and (max-width: 925px) {
    .cards__container {
        padding: 0 16px;
    }

    .cards {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .card {
        justify-self: center;
        max-width: 100%;
        overflow: hidden;
    }

    .card__description {
        font-size: 16px;
        max-width: 265px;
    }

    .card__like-icon {
        width: 20px;
        height: 18px;
    }
}
