.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 34px 80px 0;
}

.header__profile {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #21212166;
    padding-bottom: 20px;
}

.header__button {
    font-family: "Poppins", Arial, sans-serif;
    border: 0;
    line-height: 1;
    font-weight: 500;
    width: 149px;
    background-color: #212121;
    color: #fcf5e5;
    display: flex;
    border-radius: 8px;
    gap: 8px;
    padding: 18px 32px;
    align-self: flex-end;
}

.header__button-sign {
    width: 12px;
    height: 12px;
}

@media screen and (max-width: 925px) {
    .header {
        padding: 20px 16px 0;
    }

    .header__profile {
        flex-direction: column;
    }

    .header__button {
        width: 100%;
        font-size: 16px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
}
