.profile {
    display: flex;
    gap: 20px;
}

.profile__avatar {
    border-radius: 8px;
}

.profile__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile__text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: "Poppins", Arial, sans-serif;
}

.profile__name {
    margin: 0;
    font-size: 32px;
    font-weight: 500;
    color: #212121;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.profile__desc {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #212121b2;
}

.profile__edit-button {
    border: 0;
    background: none;
    display: flex;
    gap: 8px;
    opacity: 70%;
    align-self: flex-start;
    align-items: center;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #212121;
    justify-content: flex-start;
}

@media screen and (max-width: 925px) {
    .profile {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .profile__avatar {
        width: 80px;
        height: 80px;
    }

    .profile__content {
        align-items: center;
    }

    .profile__text {
        gap: 6px;
        text-align: center;
        margin-bottom: 32px;
    }

    .profile__name {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
    }

    .profile__edit-button {
        align-self: center;
        margin-bottom: 20px;
    }
}
