.show-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-out;
}

.show-image__image {
    max-width: 80vw;
    max-height: 80vh;
    border-radius: 8px;
}

.show-image__close-button {
    position: absolute;
    top: 4.5px;
    right: -32.5px;
    width: 40px;
    height: 40px;
    border: 0;
    background: none;
    padding: 4.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
}

.show-image__close-button-icon {
}

@media screen and (max-width: 640px) {
    .show-image__close-button {
        position: fixed;
        top: -32.5px;
        right: 5px;
    }
}
