.show-image__close-button {
    border: 0;
    background: none;
    padding: 4.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
}

@media screen and (max-width: 640px) {
}
